<footer>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia voluptatem, magni ipsam nesciunt, vel, optio laudantium consectetur eum cum quasi, odio fugiat atque quibusdam suscipit minima facilis. Voluptatum harum, ab.</p>
</footer>